# Default ignored files
/shelf/
# commit workspace because of the intellij startup configuration
#/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
